#container {
  display: flex;
  background-color: #d9d9d9;
}
.imgIcons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#linha {
  margin-top: 30px;
  background-color: #757575;
  width: 100%;
  height: 1px;
}
#boxTextos {
  margin: 40px 0 0 30px;
}
#textoTitulo {
  color: #000;
  font-size: 16px;
}
#subtextoP {
  color: #C14906;
  font-size: 16px;
}
#BtnBox {
  margin: 50px 0 0 80px;
  border-radius: 5px;
  background-color: #fff;
  width: 900px;
  height: 430px;
  display: flex;
  justify-content: space-between;
}
#btnUnico {
  margin: 30px auto;
  width: 230px;
  height: 200px;
  background-color: #C14906;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  border: #C14906;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
  background-color 0.3s ease;
}
.btns {
  margin: 30px auto;
  width: 230px;
  height: 200px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}
.btns:hover {
  transform: scale(1.1); 
  box-shadow: 0 10px 20px #C14906(0, 0, 0, 0.3); 
  background-color: #333; 
}

.btns:active {
  transform: scale(0.95);
}
#btnUnico:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px #C14906(0, 0, 0, 0.3);
  background-color: #C14906; 
}

#btnUnico:active {
  transform: scale(0.95);
}